/* Variables */
:root {
    --lexend-font: "Lexend", sans-serif;
    --bricolage-grotesque-font: "Bricolage Grotesque", sans-serif;
    --space-grotesk-font: "Space Grotesk", sans-serif;
    --saira-font: "Saira", sans-serif;
    --archivo-font: "Archivo", sans-serif;
    --outfit-font: "Outfit", sans-serif;
    --dm-sans-font: "DM Sans", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --tilt-warp-font: "Tilt Warp", sans-serif;
    --manrope-font: "Manrope", sans-serif;
}

/* General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth; /* Smooth Scroll */
}
